/*
-----------------------
    Inicio - Header
-----------------------
*/
.full__header {
    width: 100%;
    height: 250px;
    background: linear-gradient(90deg, var(--bluedark) 0%, var(--blue) 100%);
}

.div__dad {
    width: 900px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    font-family: var(--LexendDeca);
    color: var(--white);
}

.div__text h1 {
    font-size: 2rem;
    font-weight: 700;
}

.div__text p {
    font-size: 1.1rem;
    font-weight: 300;
}

.div__search {
    width: inherit;
}

.div__search input {
    width: 100%;
    height: 65px;
    border-radius: 5px;
    background-color: var(--input);
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: left 20px center;
    padding: 0 10px 0 60px;
    font-size: .9rem;
    font-family: var(--LexendDeca);
    color: var(--white);
    font-weight: 300;
    outline: none;
}

::placeholder {
    color: var(--white);
    opacity: 1;
    font-size: .9rem;
}
  
:-ms-input-placeholder {
    color: var(--white);
    font-size: .9rem;
}
  
::-ms-input-placeholder {
    color: var(--white);
    font-size: .9rem;
}
/*
-----------------------
    Fim - Header
-----------------------
*/
/*
-----------------------
    Inicio - Main
-----------------------
*/
.full__main {
    width: 100%;
    height: 100%;
    padding: 30px 0px;
    background-color: var(--background-main);
}

.main__section {
    width: 900px;
    height: 100%;
    margin: 0 auto;
}

.section__article {
    width: 100%;
    height: auto;
    padding: 25px;
    background-color: var(--white);
    margin: 25px 0;
    box-shadow: 0px 0px 10px var(--box-shadow);
}

.div__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.div__data p {
    font-family: var(--Inter);
    font-weight: 300;
    font-size: .9rem;
    color: var(--data);
}

.div__data img {
    width: 20px;
    cursor: pointer;
}

.div__news h2 {
    font-family: var(--LexendDeca);
    font-weight: 500;
    color: var(--title);
    font-size: 2rem;
    margin-bottom: 15px;
}

.div__news p {
    font-family: var(--Inter);
    font-weight: 300;
    color: var(--text);
    font-size: .92rem;
    line-height: 25px;
}
/*
-----------------------
    Fim - Main
-----------------------
*/
/*
-----------------------
    Inicio - Footer
-----------------------
*/
.full__footer {
    width: 100%;
    height: 100px;
    background-color: var(--bluedark);
}

.footer__div {
    width: 900px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__div h3 {
    font-family: var(--LexendDeca);
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--white);
}

.footer__div ul {
    display: flex;
    gap: 10px;
}

.footer__div img {
    width: 30px;
}
/*
-----------------------
    Fim - Footer
-----------------------
*/
/*
-----------------------
    Inicio - Responsive
-----------------------
*/
@media (max-width: 1000px) {
    .div__dad {
        width: 700px;
    }
    .main__section {
        width: 700px;
    }
    .footer__div {
        width: 700px;
    }
}

@media (max-width: 800px) {
    .div__dad {
        width: 500px;
    }
    .main__section {
        width: 500px;
    }
    .footer__div {
        width: 500px;
    }
    .footer__div ul {
        gap: 10px;
    }
    .footer__div h3 {
        font-size: 1.2rem;
    }
    .footer__div img {
        width: 25px;
    }
}

@media (max-width: 600px) {
    .div__dad {
        width: 400px;
    }
    .div__text h1 {
        font-size: 1.6rem;
    }
    .div__text p {
        font-size: 0.9rem;
    }
    .div__search input {
        height: 50px;
    }
    .main__section {
        width: 400px;
    }
    .div__news h2 {
        font-size: 1.8rem;
    }
    .div__news p {
        font-size: .9rem;
    }
    .full__footer {
        height: 120px;
    }
    .footer__div {
        width: 400px;
        justify-content: center;
        flex-direction: column;
    }
    .footer__div h3 {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .div__dad {
        width: 320px;
    }
    .div__search input {
        background-position: left 10px center;
        padding: 0 10px 0 45px;
    }
    .main__section {
        width: 320px;
    }
    .footer__div {
        width: 320px;
    }
}

@media (max-width: 400px) {
    .full__header {
        height: 200px;
    }
    .div__dad {
        width: 300px;
    }
    .div__text {
        margin-bottom: 40px;
    }
    .div__text h1 {
        font-size: 1.4rem;
    }
    .div__search input {
        height: 40px;
    }
    .main__section {
        width: 300px;
    }
    .div__news h2 {
        font-size: 1.6rem;
    }
    .footer__div {
        width: 300px;
    }
}

@media (max-width: 350px) {
    .div__dad {
        width: 250px;
    }
    .main__section {
        width: 250px;
    }
    .footer__div {
        width: 250px;
    }
}
/*
-----------------------
    Fim - Responsive
-----------------------
*/